.contactpage {
  width: 86%;
  padding-left: 7%;
  padding-right: 7%;
  height: 900px;
  display: flex;
  align-items: center;
}

.contactformarea {
  height: 90%;
  width: 50%;
  display: grid;
  place-items: center;
}

.contactform {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 700px;
  align-items: center;
  justify-content: center;
  width: 726px;
  height: 600px;
  padding: 20px;
  border-radius: 17px;
  filter: drop-shadow(0px 33px 27px rgba(0, 0, 0, 0.18));
  background-color: #ffffff;
  border-bottom: #008985 solid 10px;
}
.contactform h3 {
  font-size: 28px;
  line-height: 47px;
  color: #1f1e1e;
  font-weight: bold;
}

.contactform input {
  height: 80px;
  width: 80%;
  font-size: 24px;
  text-align: center;
  width: 599px;
  height: 83px;
  border-radius: 8px;
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.05));
  background-color: #ffffff;
  border: 1px solid #dde4ea;
}

.contactform textarea {
  width: 80%;
  height: 200px;
  font-size: 24px;
  text-align: center;
  width: 599px;
  height: 83px;
  border-radius: 8px;
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.05));
  background-color: #ffffff;
  border: 1px solid #dde4ea;
}

.contactform button {
  width: 214px;
  height: 83px;
  border-radius: 8px;
  background-color: #008985;
  font-size: 22px;
  line-height: 47px;
  color: #ffffff;
  font-weight: bold;
  border: none;
}

.contactsinfo {
  height: 90%;
  width: 50%;
  gap: 50px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactinfoitem {
  width: 80%;
  display: flex;
  width: 80%;
  height: 150px;
  align-items: center;
  padding: 10px;
  gap: 40px;
  filter: drop-shadow(0px 33px 27px rgba(0, 0, 0, 0.18));
  background-color: #ffffff;
  border-bottom: #008985 solid 2px;
}

.contactinfoitem h1{
  font-size: 29px;
line-height: 30px;
color: #1f1e1e;
text-align: left;
}

.contactinfoitem img{
width: 50px;
margin-left: 20px;
height: 50px;
}