@media only screen and (min-width: 950px) {
  .contactpage {
    width: 86%;
    padding-left: 7%;
    padding-right: 7%;
    height: 900px;
    display: flex;
    gap: 10%;
    align-items: center;
  }
  .contactformarea{
    width: 30%;
  }
}

@media only screen and (max-width: 949px) {
  .contactpage {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
    align-items: center;
  }

  .contactformarea {
    display: grid;
    margin-top: 100px;
    padding-bottom: 50px;
    place-items: center;
  }
  .contactsinfo {
    width: 90%;
    padding-bottom: 50px;
  }
}

.contactformarea {
  display: grid;
  place-items: center;
}

.contactform {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 600px;
  padding: 20px;
  width: 100%;
  border-radius: 17px;
  filter: drop-shadow(0px 33px 27px rgba(0, 0, 0, 0.18));
  background-color: #ffffff;
  border-bottom: #008985 solid 10px;
}
.contactform h3 {
  font-size: 28px;
  line-height: 47px;
  color: #1f1e1e;
  font-weight: bold;
}

.contactform input {
  height: 50px;
  width: 80%;
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.05));
  background-color: #ffffff;
  border: 1px solid #dde4ea;
}

.contactform textarea {
  width: 80%;
  height: 200px;
  font-size: 22px;
  text-align: center;
  width: 80%;
  border-radius: 8px;
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.05));
  background-color: #ffffff;
  border: 1px solid #dde4ea;
}

.formbtn {
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: #008985;
  font-size: 22px;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  border: none;
}

.contactsinfo {
  height: 90%;
  gap: 50px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactinfoitem {
  display: flex;
  width: 96%;
  padding: 2%;
  height: 150px;
  align-items: center;
  gap: 40px;
  filter: drop-shadow(0px 33px 27px rgba(0, 0, 0, 0.18));
  background-color: #ffffff;
  border-bottom: #008985 solid 2px;
}

.contactinfoitem h1 {
  font-size: 18px;
  line-height: 30px;
  color: #1f1e1e;
  text-align: left;
}

.contactinfoitem img {
  width: 34px;
  margin-left: 20px;
  height: 40px;
}
